@use '../../styles/variables' as *;

.calendarWrapper {
    width: 100%;
    max-width: 820px;
}

.headerRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}

.dayName {
    text-align: left;
    font-size: 0.875rem;
    color: #9aa0a6;
    font-weight: 500;
    padding-left: 0.25rem;
}

.daysGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    width: 100%;
    grid-auto-rows: 110px;



    @media (max-width: 600px) {
        gap: 0.25rem;
    }
}